$debugMode:false;

@import 'reset';
@import 'mixins';
@import 'extends';
@import 'settings';
@import 'debug';

//
//	$INDEX
//
//	$1 LAYOUT
//		$1.1 Header
//		$1.2 Footer
//
//	$X EU COOKIE LAW
//





//	$1 Layout
@include snitch();
body {background: red}
.wrapper {
	margin: 0 em( 30 );
	@include mq( $d_sitewidth + (30 * 2) ) {
		max-width: em( $d_sitewidth );
		margin: 0 auto;
	}
}




//	$X EU COOKIE LAW
#cookie_alert {
	display: none;
	&.shown {
		display: block;
	}
}