$debugMode:false;

@import 'reset';
@import 'mixins';
@import 'extends';
@import 'settings';
@import 'debug';

//
//	$INDEX
//
//	$1 LAYOUT
//		$1.1 Header
//		$1.2 Footer
//
//	$X EU COOKIE LAW
//





//	$1 Layout
@include snitch();





//	$X EU COOKIE LAW
div#cookie_alert {
	display: none;
	&.shown {
		display: block;
	}
}